aiofiles==24.1.0
aubio @ file:///Users/clayh/projects/xfader/aubio
audioread==3.0.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
Cython==3.0.12
decorator==5.1.1
dict-toolbox==5.0.0
ffmpeg==1.4
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
joblib==1.4.2
lazy-object-proxy==1.10.0
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.44.0
madmom @ git+https://github.com/CPJKU/madmom@27f032e8947204902c675e5e341a3faf5dc86dae
MarkupSafe==3.0.2
mido==1.3.3
msgpack==1.1.0
nest-asyncio==1.6.0
numba==0.60.0
numpy==2.0.2
packaging==24.1
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
pop==27.1.0
pop-config==12.0.4
pop-loop==1.1.0
pycparser==2.22
pydub==0.25.1
pytest==8.3.4
PyYAML==6.0.2
rend==7.0.2
requests==2.32.3
scikit-learn==1.5.1
scipy==1.15.2
sniffio==1.3.1
soundfile==0.12.1
soxr==0.5.0.post1
threadpoolctl==3.5.0
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.3.0
